<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>
        form
    </title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center mt-3">This is form page</h1>
        <form class="was-validated" action="" method="POST">{% csrf_token %}
            <label for="name" >Name</label>
            <input type="text" class="form-control" name="name" id="name">
            <label for="email" >Email</label>
            <input type="text" class="form-control" name="email">
            <label for="num" >Number</label>
            <input type="text" class="form-control" name="number">
            <label for="place" >place</label>
            <input type="text" class="form-control" name="place">
            <label for="college" >college</label>
            <input type="text" class="form-control" name="college">
            <label for="add" >address</label>
            <input type="text" class="form-control" name="address">
            <button type="submit" class="btn btn-primary" >Sumbit</button>
        </form>
    </div>
</body>